<div class="container my-5 py-5">
  <div class="d-flex justify-content-center">
    <h2><i class="fa-solid fa-list-ul"></i> <span>Buckets</span></h2>
  </div>
  <div class="row gy-3 my-5 bucket-list">
    {{#if buckets}}
      {{#each buckets}}
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <span class="badge text-bg-secondary"><i class="fa-solid fa-box"></i></span>
          </div>
          <div class="card-body">
            <div class="d-flex flex-column justify-content-between details">
                <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{description}}</p>
              <a href="/buckets/{{_id}}/details" class="btn btn-primary btn-width">Details</a>
            </div>

          </div>
        </div>
      </div>
      {{/each}}
    {{/if}}
  </div>
</div>