    <div class="col">
      <div class="card w-310">
        <div class="card-header">
          <span class="badge text-bg-secondary">New</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">Create</h5>
          <p class="card-text">Add a new bucket to your collection.</p>
          <a href="/buckets/create" class="btn btn-primary">New Bucket</a>
        </div>
      </div>
    </div>