<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <div class="video-container">
      <div class="youtube-video">
        <iframe src="{{url}}" width="100%" frameborder="0" allowfullscreen="true"></iframe>
      </div>
    </div>
  </div>
</div>