.register{
  margin-top: 3%;
  padding: 3%;
}
.left{
  text-align: center;
  color: black;
  margin-top: 4%;
}
.left a{
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
  text-decoration: none;
}

.left a:hover {
  opacity: 0.5;
}
.right{
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.left img{
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.left p{
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}
.register .register-form{
  padding: 10%;
  margin-top: 10%;
}

.custom-btn{
  float: right;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}

.btn:hover{
  opacity: 0.5;
}

.register-heading{
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}

.form-group{
  margin-bottom: 15px;
}

.w-310 {
  width: 310px;
  min-height: 180px;
}

.left-new {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-new {
  background-color: #495057;
}

.header {
  color: white
}

.btn-width {
  width: 90px;
}

.bucket-action {
  gap:15px;
}

.max-height-35 {
  height: 35px;
}

nav .nav-link:hover {
  color: teal;
  opacity: 0.5;
}

nav .active {
  color: pink;
}

.buckets-right-container {
  padding-right: 20px;
}

p {
  margin: 0em;
}

#curated {
  font-family: 'Clash Display', sans-serif;
  font-weight: 'bold';
}

.btn.btn-info {
  color: black;
  background-color: #efefef;
  border-style: none;
  border-radius: 5px !important;

  font-size: 0.9em
}
.btn.btn-info:hover {
  color: black;
  background-color: #efefef;
  border-style: none;
  border-radius: 5px !important;

  font-size: 0.9em
}
.btn.btn-info:focus, .btn.btn-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}
.btn.btn-info.disabled, .btn.btn-info:disabled {
  color: black;
  background-color: #efefef;
  border-style: none;
  border-radius: 5px;
  font-size: 0.9em
}
.btn.btn-info:not(:disabled):not(.disabled):active,
.btn.btn-info:not(:disabled):not(.disabled).active {
  color: white;
  background-color: rgb(112, 111, 111);
  border-style: none;
  border-radius: 5px;
  font-size: 0.9em
}
.show > .btn.btn-info.dropdown-toggle {
  color: white;
  background-color:rgb(112, 111, 111);
  border-style: none;
  border-radius: 5px;
  font-size: 0.9em
}
.show > .btn.btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}
.btn.btn-info:not(:disabled):not(.disabled):active:focus,
.btn.btn-info:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.bucket-list {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px; /* Adjust as needed */
  }
  .card-body {
    flex-grow: 1;
  }
  .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

.details {
  height: 125px;
}

.bucket-left-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 40px;
}

.bucket-details {
  min-height: 20%;
}

.bucket-details .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  flex-grow: 1;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.playlist-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.playlist-item.active {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
.playlist-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px;
}
.playlist-thumbnail {
  flex: 0 0 80px;
  margin-right: 10px;
}
.playlist-title {
  flex: 1;
}
.additional-videos.card{
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 1fr;
  gap: 0.4rem;
  height: 100px;
  padding:10px;
}
.additional-content.card-body{
  display:flex;
  flex-direction:column;
  padding:5px;
  justify-content:flex-start;
  overflow:hidden;

}
.additional-content.card-body .card-title{
  font-size:1rem;
  padding:0px;
  margin: 0px;
}