.register{
  margin-top: 3%;
  padding: 3%;
}
.left{
  text-align: center;
  color: black;
  margin-top: 4%;
}
.left a{
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
  text-decoration: none;
}

.left a:hover {
  opacity: 0.5;
}
.right{
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.left img{
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.left p{
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}
.register .register-form{
  padding: 10%;
  margin-top: 10%;
}

.custom-btn{
  float: right;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}

.btn:hover{
  opacity: 0.5;
}

.register-heading{
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}

.form-group{
  margin-bottom: 15px;
}

.w-310 {
  width: 310px;
  min-height: 180px;
}

.left-new {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-new {
  background-color: #495057;
}

.header {
  color: white
}

.btn-width {
  width: 90px;
}

.expand-card {
 height: 100%;
}

.bucket-action {
  gap:15px;
}

.max-height-35 {
  height: 35px;
}

nav .nav-link:hover {
  color: teal;
  opacity: 0.5;
}

nav .active {
  color: pink;
}

.buckets-right-container {
  padding-right: 20px;
}